@import "../../../styles/variables";

span {
  marginLeft: 10px
}

.boxDark {
  @extend .box;
  background: $bg2 !important;
  color: $text2 !important;
}

.box {
  padding: 80px 60px;
  background: $bg;
  color: $text;
  //position: absolute;
  //bottom: 0;
  width: 100%;
  box-shadow: 0 -1px 5px rgb(22 210 247);
  @media (max-width: 1000px) {
    padding: 70px 30px;
  }
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.Column {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 60px;
}

.Row {
  display: grid;
  grid-template-columns: repeat(auto-fill,
          minmax(185px, 1fr));
  grid-gap: 20px;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill,
            minmax(200px, 1fr));
  }
}

.footerLink {
  background: $bg;
  color: $text;
  margin-bottom: 20px;
  font-size: 18px;
  text-decoration: none;

  &:hover {
    color: $primary;
    transition: 200ms ease-in;
  }
}
.footerLinkDark {
  @extend .footerLink;
  color: $text2 !important;
  background: $bg2 !important;
}

.heading {
  background: $bg;
  color: $text;
  font-size: 24px;
  margin-bottom: 40px;
  font-weight: bold;
}

.headingDark {
  @extend .heading;
  color: $text2 !important;
  background: $bg2 !important;
}