
.login-form {
  color: #fff;
  @include flex(center, center);
  height: 100vh;


  &__form {
    padding: 80px;
    background-color: #500909;
    @include flex(center, center);
    flex-direction: column;
    border-radius: 10px;
  }

  &__input {
    margin-bottom: 30px;
    height: 40px;
  }

  &__btn {
    margin-top: 30px !important;
    margin-bottom: 10px !important;
  }
}
