.product-card {
    text-align: center;
    margin-bottom: 30px;

    // skeleton

    &.is-loading {

        .product-card__image,
        h2,
        p,
        .product-card__price,
        .product-card__btn{
            background: #eee;
            background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
            border-radius: 5px;
            background-size: 200% 100%;
            animation: 1.5s shine linear infinite;
        }

        .image {
            height: 200px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        h2 {
            height: 30px;
        }

        p {
            height: 70px;
        }
    }

    @keyframes shine {
        to {
            background-position-x: -200%;
        }
    }






    &__image {
        padding-top: 100%;
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        border-radius: 10px;


        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;

            &:nth-child(1) {
                transform: translateX(-50%) scale(1);
                transition: transform 0.5s ease;
            }

            &:nth-child(2) {
                transform: translateX(-50%) scale(0);
            }
        }

        &:hover img {
            &:nth-child(1) {
                transform: translateX(-50%) scale(0);
            }

            &:nth-child(2) {
                transform: translateX(-50%) scale(1);
                transition: transform 0.5s ease;
            }
        }
    }

    &__name {
        margin-bottom: 10px;
        color: $txt-second-color;
        font-size: 1.25rem;
        font-weight: normal;
    }

    &__price {
        color: $txt-main-color;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 10px;

        &__old {
            color: $txt-second-color;
            margin-left: 20px;
            font-weight: 300;
        }
    }

    &__btn {
        @include tablet {
            display: none;
        }
    }
}
