
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-drag: none;
}

html {
    font-size: 85%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
}

i {
    cursor: pointer;
}

a:hover {
    color: $main-color;
}

img {
    max-width: 100%;
}

@each $color, $val in $colors {
    .color-#{$color} {
        color: $val;
    }

    .bg-#{$color} {
        background-color: $val;
    }
}

@each $val in $numbers {
    .grid-col-#{$val} {
        grid-template-columns: repeat($val, 1fr);
    }
}

@each $val in $numbers {
    .grid-col-md-#{$val} {
        @include tablet {
            grid-template-columns: repeat($val, 1fr);
        }
    }
}

@each $val in $numbers {
    .grid-col-sm-#{$val} {
        @include mobile {
            grid-template-columns: repeat($val, 1fr);
        }
    }
}

.container {
    width: 100%;
    max-width: 1620px;
    padding: 0 50px;
    margin: auto;

    @include tablet {
        padding: 0 20px;
    }

    @include mobile {
        padding: 0 10px;
    }
}

.main {
    margin-top: $header-height + 60px;
    margin-bottom: 3rem;
    min-height: 100vh;
    padding: 0 20px;

    @include tablet {
        margin-top: calc(#{$header-tablet-height} + 20px);
    }

    @include mobile {
        margin-top: calc(#{$header-mobile-height} + 10px);
    }
}

.grid {
    display: grid;
}
