$main-bg: #fff;
$main-color: #e02020;

$txt-main-color: #000;
$txt-second-color: #8d8d8d;
$txt-white: #fff;

$btn-main-bg: $main-color;
$btn-main-color: #fff;

$header-height: 170px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

sdf{
color: whitesmoke;
}


$colors: (
        "dark-blue": #00008b,
        "green": #008000,
        "blue": #1654dc,
        "red": #ff0000,
        "deepskyblue": #00bfff,
        "cyan": #00ffff,
        "orange": #fbb96b,
        "pink": #fe7e73,
        //"white": #fff,
        "black": #000,
        "main": $main-color,
        "yellow": #ffff00,
        "white": #f5f5f5
);

$mobile-width: 600px;
$tablet-width: 1024px;

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);